<h1><%= @sub.name %></h1>

<ol>
	<% @links.each do |link| %>
	<li>
		<ul>
			<li><%= link.title %></li>
			<li><%= link.body %></li>
			<li><%= link.url %></li>
			<li>Popularity: <%= link.popularity %></li>
		</ul>
		<br>
	</li>
	<% end %>
</ol>

<form action="<%= new_link_url %>" method="POST">
	<input type="hidden" name="_method" value="GET">
	<input type="hidden" name="sub[id]" value="<%= @sub.id %>">
	<input type="submit" value="Contribute a Link">
</form>